.daya-tarik-menara-siger-lampun {
  width: 1728px;
  height: 1131px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.image-rect {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-800);
  z-index: 1;
}
.logo-1-icon4,
.logo-1800-lampung-thumb-1-icon8 {
  align-self: stretch;
  width: 293.7px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 68px;
}
.logo-1800-lampung-thumb-1-icon8 {
  width: 108px;
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-3);
  max-width: 100%;
  cursor: pointer;
  z-index: 2;
}
.frame-child55 {
  width: 250px;
  height: 250px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  display: none;
}
.nikmati-pengalaman-yang {
  align-self: stretch;
  height: 127px;
  display: flex;
  font-weight: 500;
  align-items: center;
  flex-shrink: 0;
}
.nikmati-pengalaman-yang,
.terintegrasi {
  position: relative;
  z-index: 1;
}
.integration-subtitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm);
  font-size: var(--font-size-6xl);
}
.frame-child56,
.rectangle-parent51 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
}
.rectangle-parent51 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24xl) var(--padding-smi) var(--padding-4xl)
    var(--padding-3xl);
  gap: var(--gap-lgi);
}
.frame-child56 {
  width: 250px;
  height: 250px;
  position: relative;
  background-color: var(--color-darkslateblue-200);
  display: none;
}
.hemat-waktu-dan {
  width: 215px;
  position: relative;
  display: flex;
  font-weight: 500;
  align-items: center;
  z-index: 1;
}
.lebih-cepat-dan {
  margin: 0;
}
.lebih-cepat-dan-container {
  width: 197px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.lebih-cepat-dan-efisien-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-4xl);
  text-align: right;
  font-size: var(--font-size-4xl);
}
.rectangle-parent52 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-200);
  padding: var(--padding-19xl) var(--padding-smi) var(--padding-xs)
    var(--padding-mid);
  gap: var(--gap-3xs);
  color: var(--color-gray-100);
}
.frame-parent24,
.icon-wrapper,
.rectangle-parent52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent24 {
  align-self: stretch;
  gap: var(--gap-3xl);
}
.icon-wrapper {
  flex: 1;
  padding: 0 0 var(--padding-26xl);
  box-sizing: border-box;
  min-width: 187px;
  min-height: 567px;
  color: var(--color-darkslateblue-200);
}
.frame-child57 {
  width: 250px;
  height: 250px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-100);
  display: none;
}
.capai-kemudahan-akses {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.fleksibilitas-wrapper,
.rectangle-parent53 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.rectangle-parent53 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-100);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-3xs) var(--padding-6xl)
    var(--padding-6xl);
  gap: var(--gap-base);
}
.fleksibilitas-wrapper {
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-6xl);
}
.frame-parent25,
.rectangle-parent54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent54 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  padding: var(--padding-20xl) var(--padding-mini) var(--padding-lg)
    var(--padding-xl);
  gap: var(--gap-9xl);
  color: var(--color-darkslateblue-200);
}
.frame-parent25 {
  flex: 1;
  gap: var(--gap-xl);
  min-width: 187px;
}
.tanpa-ribet {
  position: relative;
  z-index: 1;
}
.convenience-subtitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs);
  font-size: var(--font-size-5xl);
}
.convenience,
.rectangle-parent55 {
  flex-direction: column;
  align-items: flex-start;
}
.rectangle-parent55 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-200);
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-50xl) var(--padding-10xs) var(--padding-2xl)
    var(--padding-13xl);
  gap: var(--gap-15xl);
}
.convenience {
  flex: 1;
  padding: 0 0 128px;
  box-sizing: border-box;
  min-width: 187px;
  min-height: 378px;
}
.convenience,
.floating-icon,
.integration {
  display: flex;
  justify-content: flex-start;
}
.floating-icon {
  align-self: stretch;
  filter: var(--drop-shadow-600);
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-8xl);
  z-index: 2;
}
.integration {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-18xl) 0 0;
  box-sizing: border-box;
  min-width: 523px;
  max-width: 100%;
}
.satu-login-untuk {
  margin: 0;
  height: 339px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gunakan-satu-akun,
.satu-login-untuk {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.login1 {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue-200);
  text-align: left;
  display: inline-block;
  min-width: 68px;
}
.button-login-publik {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs-5) var(--padding-xl);
  background-color: var(--color-white);
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}
.button-login-publik:hover {
  background-color: #e6e6e6;
}
.layanan-publik {
  position: relative;
  font-weight: 600;
}
.button-login-asn,
.login-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-login-asn {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslateblue-200);
  padding: var(--padding-2xs-5) var(--padding-13xl);
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
}
.login-buttons {
  width: 535px;
  gap: var(--gap-mid);
  max-width: 100%;
}
.login-subtitle {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 33px;
  font-size: var(--font-size-6xl);
}
.benefits,
.content5,
.login,
.login-subtitle {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.login {
  width: 597px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 597px;
  font-size: var(--font-size-46xl);
  color: var(--color-white);
}
.benefits,
.content5 {
  flex-direction: row;
}
.benefits {
  flex: 1;
  justify-content: flex-start;
  gap: 140px;
}
.content5 {
  width: 1669px;
  justify-content: flex-end;
  padding: 0 64px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
  font-family: var(--font-poppins);
}
.banner-image,
.landing-page-1 {
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.banner-image {
  margin-top: -7px;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-9xl) var(--padding-3xl) 405px;
  box-sizing: border-box;
  gap: var(--gap-7xl);
  background-image: url(./public/daya-tarik-menara-siger-lampung-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  flex-shrink: 0;
}
.landing-page-1 {
  width: 100%;
  height: 1117px;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .login {
    flex: 1;
  }
  .benefits {
    flex-wrap: wrap;
    gap: var(--gap-51xl);
  }
  .content5 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .banner-image {
    padding-top: var(--padding-xl);
    padding-bottom: 263px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .icon-wrapper {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .floating-icon {
    flex-wrap: wrap;
  }
  .integration {
    min-width: 100%;
  }
  .satu-login-untuk {
    font-size: var(--font-size-33xl);
  }
  .login-subtitle {
    gap: var(--gap-base);
  }
  .login {
    min-width: 100%;
  }
  .benefits {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 450px) {
  .header-logo {
    flex-wrap: wrap;
  }
  .nikmati-pengalaman-yang {
    font-size: var(--font-size-base);
  }
  .terintegrasi {
    font-size: var(--font-size-xl);
  }
  .hemat-waktu-dan {
    font-size: var(--font-size-base);
  }
  .lebih-cepat-dan-container {
    font-size: var(--font-size-lg);
  }
  .capai-kemudahan-akses {
    font-size: var(--font-size-base);
  }
  .tanpa-ribet {
    font-size: 19px;
  }
  .rectangle-parent55 {
    gap: var(--gap-mid);
  }
  .convenience {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
  .satu-login-untuk {
    font-size: var(--font-size-20xl);
  }
  .gunakan-satu-akun {
    font-size: var(--font-size-xl);
  }
  .login-buttons {
    display: none;
  }
  .benefits {
    gap: var(--gap-mid);
  }
  .banner-image {
    padding-bottom: 171px;
    box-sizing: border-box;
  }
  .landing-page-1 {
    height: auto;
  }
}
