.container-sidebar-14 {
  width: 396px;
  height: 840px;
  position: relative;
  border-radius: 0 0 var(--br-31xl) 0;
  background-color: var(--color-gray-300);
  display: none;
  max-width: 100%;
}
.logo-1800-lampung-thumb-1-icon9 {
  height: 63.5px;
  width: 97.6px;
  position: absolute;
  margin: 0 !important;
  bottom: -28.5px;
  left: -85px;
  object-fit: cover;
  z-index: 1;
}
.single-sign-on8 {
  flex: 1;
  position: relative;
  line-height: 35px;
  z-index: 2;
}
.provinsi-lampung8 {
  text-decoration: none;
  position: relative;
  font-style: italic;
  color: inherit;
  z-index: 2;
}
.brand-name-container,
.brand-placeholder5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name-container {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  margin-top: -8px;
  font-size: var(--font-size-xl);
}
.brand-placeholder5 {
  flex: 1;
  flex-direction: column;
}
.brand-placeholder4 {
  width: 210.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.miguel-sh-mh3 {
  height: 46.3px;
  flex: 1;
  position: relative;
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.user-name-container {
  width: 203px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.staff-ahli-bla3 {
  height: 53.2px;
  flex: 1;
  position: relative;
  display: flex;
  font-weight: 300;
  align-items: center;
  z-index: 3;
}
.user-title-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
  margin-top: -24.8px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.miguelprasblablagmailcom3 {
  width: 204px;
  height: 45.1px;
  position: relative;
  font-size: var(--font-size-smi);
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
  margin-top: -24.8px;
}
.profile-card5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.profile-icon3 {
  position: absolute;
  top: 48px;
  left: 45px;
  width: 166px;
  height: 170px;
  object-fit: cover;
  z-index: 2;
}
.profile-container {
  width: 257px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.brand-placeholder3,
.user-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.user-container {
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-17xl) 0 var(--padding-16xl-8) var(--padding-7xl);
  position: relative;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.brand-placeholder3 {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.brand-placeholder2 {
  width: 291px;
  height: 445px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.sidebar-background {
  height: 92px;
  width: 272.1px;
  position: absolute;
  margin: 0 !important;
  top: -2.9px;
  left: -19.9px;
  background-color: var(--color-gray-300);
  z-index: 1;
}
.sidebar-header-child {
  height: 89.1px;
  width: 292.1px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-300);
  display: none;
}
.dashboard-layout-icon16 {
  height: 58.7px;
  width: 52px;
  object-fit: cover;
}
.dashboard-layout-icon16,
.dashboard4 {
  position: relative;
  z-index: 3;
}
.sidebar-header-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-8) 0 0;
}
.sidebar-container,
.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-header {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-300);
  padding: var(--padding-base-7) var(--padding-2xl) var(--padding-mini-7);
  gap: var(--gap-sm-9);
  z-index: 2;
}
.sidebar-container {
  align-self: stretch;
  position: relative;
}
.navigation-item-highlight {
  height: 94px;
  width: 272.1px;
  position: absolute;
  margin: 0 !important;
  top: -3px;
  left: -19.9px;
  background-color: var(--color-gray-300);
  z-index: 1;
}
.navigation-item-child {
  height: 91px;
  width: 292.1px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-300);
  display: none;
}
.dashboard-layout-icon17 {
  height: 60px;
  width: 52px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.layanan6 {
  align-self: stretch;
  position: relative;
  z-index: 3;
}
.navigation-item,
.navigation-sub-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-sub-item {
  width: 144px;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.navigation-item {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-2xl) var(--padding-mini);
  gap: var(--gap-base-4);
  z-index: 2;
}
.navigation-items-child {
  height: 94px;
  width: 272.1px;
  position: absolute;
  margin: 0 !important;
  top: -3px;
  left: -19.9px;
  background-color: var(--color-gray-300);
  z-index: 3;
}
.dashboard-layout-icon18 {
  height: 60px;
  width: 52px;
  position: relative;
  object-fit: cover;
  z-index: 5;
}
.absen3 {
  align-self: stretch;
  position: relative;
  z-index: 5;
}
.absen-wrapper1 {
  width: 102px;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.absen-wrapper1,
.content-container,
.rectangle-parent56,
.sidebar-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent56 {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-2xl) var(--padding-mini);
  gap: var(--gap-sm-4);
  z-index: 4;
}
.content-container,
.sidebar-navigation {
  flex-direction: column;
}
.sidebar-navigation {
  align-self: stretch;
  gap: var(--gap-11xs);
}
.content-container {
  width: 292.1px;
  gap: var(--gap-5xs);
  color: var(--color-gold);
}
.brand-placeholder,
.brand-placeholder1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.brand-placeholder1 {
  flex: 1;
  border-radius: 0 0 var(--br-31xl) 0;
  background-color: var(--color-gray-300);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-17xl) var(--padding-10xs);
  gap: 82.9px;
}
.brand-placeholder {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) 0 0;
}
.container-sidebar-24,
.search-container-background {
  position: absolute;
  background-color: var(--color-gray-300);
}
.container-sidebar-24 {
  top: 96px;
  left: 0;
  border-radius: 0 var(--br-21xl) 0 0;
  width: 396px;
  height: 539px;
}
.search-container-background {
  top: 0;
  left: -5px;
  width: 340.9px;
  height: 106px;
  z-index: 1;
}
.main-content-header {
  height: 279px;
  width: 396px;
  position: absolute;
  margin: 0 !important;
  bottom: -183px;
  left: -44.8px;
}
.page-title-container-child {
  height: 93px;
  width: 352.2px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-lavender-100);
  display: none;
  max-width: 100%;
}
.dashboard-layout-icon19 {
  height: 61.3px;
  width: 54.1px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.page-title-container,
.profil-frame {
  align-items: flex-start;
  box-sizing: border-box;
}
.profil-frame {
  width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.page-title-container {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-lavender-100);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-3xl) var(--padding-base-7);
  gap: var(--gap-smi-6);
  z-index: 2;
}
.brand-container,
.main-content,
.page-title-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.main-content {
  width: 372.2px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-gold);
}
.brand-container {
  width: 417px;
  flex-direction: column;
  align-items: flex-end;
  min-width: 417px;
}
.header-child4,
.search-bar-child3 {
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.header-child4 {
  height: 121px;
  width: 1204px;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
}
.search-bar-child3 {
  align-self: stretch;
  width: 700.1px;
  border-radius: var(--br-21xl);
  border: 3px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
}
.search-input-container-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-darkslateblue-100);
  width: 100%;
  height: 100%;
  display: none;
}
.search-icon5 {
  position: absolute;
  top: 3px;
  left: 9.5px;
  width: 34.7px;
  height: 50px;
  object-fit: cover;
  z-index: 2;
}
.search-input-container {
  height: 56px;
  width: 55.5px;
  position: relative;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-darkslateblue-100);
  z-index: 1;
}
.search-bar-container,
.search-bar5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  max-width: 100%;
}
.search-bar5 {
  align-self: stretch;
  height: 62px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  border: 3px solid var(--color-darkslateblue-100);
  flex-direction: row;
  z-index: 1;
}
.search-bar-container {
  height: 57px;
  width: 694.1px;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
}
.home-icon5,
.logout-icon6 {
  width: 60px;
  height: 60px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.home-button-container,
.logout-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-button-container {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.home-button-container {
  width: 157px;
  flex-direction: row;
  gap: var(--gap-18xl);
}
.container-profil,
.header11 {
  background-color: var(--color-gray-100);
}
.header11 {
  align-self: stretch;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-12xl) var(--padding-lg) var(--padding-9xl)
    var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.container-profil {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 100%;
  height: 100%;
  display: none;
}
.account-setting {
  position: absolute;
  top: -5px;
  left: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
  height: 107px;
  z-index: 1;
}
.expand-arrow-icon7 {
  position: absolute;
  top: 20px;
  left: 41px;
  border-radius: var(--br-3xs);
  width: 80px;
  height: 58.8px;
  object-fit: cover;
  z-index: 2;
}
.container-profil-parent {
  align-self: stretch;
  height: 107px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
}
.password3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.password-separator {
  position: absolute;
  top: 80px;
  left: 122px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-top: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 156px;
  height: 2px;
  z-index: 2;
}
.password-item {
  position: absolute;
  top: 2px;
  left: -4px;
  width: 403px;
  height: 107px;
}
.expand-arrow-icon8 {
  position: absolute;
  top: 24px;
  left: 39px;
  border-radius: var(--br-3xs);
  width: 80px;
  height: 58.8px;
  object-fit: contain;
  z-index: 3;
}
.reset-password-icon {
  position: absolute;
  top: 2px;
  left: 14px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslateblue-100);
  width: 213px;
  height: 44px;
  z-index: 2;
}
.reset-password {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.reset-password-button {
  height: 48px;
  width: 242px;
  position: relative;
}
.konfirmasi-password-baru,
.password-baru {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue-100);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.password-baru {
  width: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.konfirmasi-password-baru {
  flex: 1;
  z-index: 4;
}
.new-password-input {
  width: 347px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.confirm-password-icon,
.confirm-password-icon1,
.container-form-reset-password {
  border: 1px solid var(--color-darkslateblue-100);
  position: absolute;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
}
.container-form-reset-password {
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.confirm-password-icon,
.confirm-password-icon1 {
  outline: 0;
  left: 21px;
  width: 526px;
  height: 57px;
  z-index: 3;
}
.confirm-password-icon {
  background-color: var(--color-gray-100);
  top: 51px;
}
.confirm-password-icon1 {
  background-color: rgba(255, 255, 255, 0.8);
  top: 150px;
}
.confirm-password-input {
  width: 568px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
}
.button-simpan-child {
  height: 44px;
  width: 146px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-100);
  display: none;
}
.simpan {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  min-width: 73px;
  z-index: 1;
}
.button-simpan,
.save-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-simpan {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-17xl) var(--padding-5xs)
    var(--padding-18xl);
  background-color: var(--color-darkslateblue-100);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  z-index: 3;
}
.button-simpan:hover {
  background-color: var(--color-cornflowerblue);
}
.save-button-container {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl);
}
.password-form,
.reset-password-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.password-form {
  margin: 0;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 var(--padding-lgi);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-58xl);
  min-width: 387px;
}
.reset-password-item {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.two-factor-auth-icon {
  position: absolute;
  top: 2px;
  left: 14px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslateblue-100);
  width: 213px;
  height: 44px;
  z-index: 1;
}
.two-factor-autentication {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.two-factor-auth-description-child {
  height: 46px;
  width: 401px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.aktifkan-two-factor {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.two-factor-auth-status {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 185px;
}
.toggle-on-icon {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.two-factor-auth-description {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-sm) var(--padding-12xs)
    var(--padding-mini);
  gap: var(--gap-26xl);
  min-width: 261px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  color: var(--color-dimgray-100);
}
.password-submenu,
.two-factor-auth-item {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.two-factor-auth-item {
  width: 699px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  font-size: var(--font-size-mini);
}
.password-submenu {
  position: absolute;
  top: 104px;
  left: 105px;
  width: 846px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16xl);
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.dropdown-menu {
  align-self: stretch;
  height: 715px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  max-width: 100%;
}
.account-dropdown-container {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-18xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
.account-dropdown-container,
.header10,
.password-setting-asn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header10 {
  width: 1212px;
  flex-direction: column;
  gap: var(--gap-23xl);
  min-width: 1212px;
  max-width: 100%;
}
.password-setting-asn {
  width: 100%;
  position: relative;
  background-color: var(--color-lavender-100);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-75xl);
  box-sizing: border-box;
  gap: var(--gap-24xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-lavender-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1600px) {
  .brand-container,
  .header10 {
    flex: 1;
  }
  .password-setting-asn {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .header11 {
    flex-wrap: wrap;
  }
  .header10 {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .account-setting,
  .password3 {
    font-size: var(--font-size-5xl);
  }
  .reset-password-item,
  .two-factor-auth-item {
    flex-wrap: wrap;
  }
  .dropdown-menu {
    height: auto;
    min-height: 715;
  }
  .account-dropdown-container {
    gap: var(--gap-lg);
  }
  .header10,
  .password-setting-asn {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .single-sign-on8 {
    font-size: var(--font-size-xl);
    line-height: 28px;
  }
  .miguel-sh-mh3,
  .provinsi-lampung8 {
    font-size: var(--font-size-base);
  }
  .brand-placeholder3 {
    gap: var(--gap-lg);
  }
  .dashboard4 {
    font-size: var(--font-size-xl);
  }
  .sidebar-header {
    flex-wrap: wrap;
  }
  .layanan6 {
    font-size: var(--font-size-xl);
  }
  .navigation-item {
    flex-wrap: wrap;
  }
  .absen3 {
    font-size: var(--font-size-xl);
  }
  .rectangle-parent56 {
    flex-wrap: wrap;
  }
  .brand-placeholder1 {
    gap: var(--gap-22xl);
  }
  .brand-container {
    min-width: 100%;
  }
  .account-setting,
  .password3 {
    font-size: var(--font-size-lg);
  }
  .reset-password {
    font-size: var(--font-size-base);
  }
  .password-form {
    min-width: 100%;
  }
  .two-factor-auth-description {
    flex-wrap: wrap;
  }
}
